//Add Google Fonts here
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;600&display=swap");

//Typography
$font-head: "Montserrat", sans-serif;
$font-body: "Open Sans", sans-serif;

//Color Palette
$primary-color: #545454;
$secondary-color: #535353;
$accent-color: #4285f4;
$background-color: #ecf0f1;
$selector-color: #a1bbe4;
